<div class="entry-comments bg-gray"
     *ngIf="comments$ | async as comments">
    <div class="entry-widget-title clearfix">
        {{comments.length}} Comments
    </div>
    <div class="comments-body">
        <ul class="commentlist">
            <li *ngFor="let comment of comments">
                <div class="avatar">
                    <img [src]="comment.avatarImage"
                         alt="avatar">
                </div>
                <div class="commen-content">
                    <div class="comment-meta">
                        <h6>{{comment.fromName}}</h6>
                        <div class="comment-date">
                            <span class="date">{{comment.commentDate | amTimeAgo}}</span>
                        </div>
                    </div>
                    <p [innerHTML]="comment.comment"></p>
                    <div class="reply"
                         *ngIf="false"><a href="#">Leave A Reply</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="entry-comments-form bg-gray">
    <div class="entry-widget-title clearfix">
        Leave a reply
    </div>
    <div class="comment-form-body">
        <form [formGroup]="commentForm"
              (submit)="postComment()"
              class="mb-0">
            <div class="row">
                <div class="col-md-6">
                    <input formControlName="fromName"
                           type="text"
                           class="form-control mb-30"
                           placeholder="Your Name"
                           required="">
                </div>
                <div class="col-md-6">
                    <input formControlName="fromEmail"
                           type="email"
                           class="form-control mb-30"
                           placeholder="Your Email"
                           required="">
                </div>
                <div class="col-md-12">
                    <textarea formControlName="comment"
                              class="form-control mb-30"
                              rows="2"
                              placeholder="your Comment"
                              required=""></textarea>
                </div>
                <div class="col-md-12">
                    <button [disabled]="!commentForm.valid"
                            type="submit"
                            id="submit-message"
                            class="btn btn-secondary btn-hover btn-block">Post Your Comment</button>
                </div>
            </div>
        </form>
    </div>
</div>
