<header class="header"
        *ngIf="podcast$ | async as podcast">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="header__logo">
                    <a [href]="siteUrl">
                        <span class="header-title-text">
                            {{podcast.publicTitle}}
                        </span>
                    </a>
                </div>
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a [routerLink]="'about'">About</a></li>
                        <li><a [routerLink]="'episodes'">Episodes</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4">
                <div class="header__right">
                    <div class="header__right__search">
                        <!-- <form action="#">
                            <input type="text"
                                   placeholder="Search and hit enter...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form> -->
                    </div>
                    <div class="header__right__social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
