.expando {
    position: relative;
    height: 3.6em; /* exactly three lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.podcast__item__pic img {
    width: 310px;
    height: 310px;
}
