<div class="podcast__item">
    <div class="podcast__item__pic">
        <img class="entry-list-image"
             [src]="episode.imageUrl"
             alt="">
    </div>
    <div class="podcast__item__text">
        <a href="#"
           class="heart-icon"><i class="far fa-heart"></i></a>
        <ul>
            <li><span class="icon_calendar"></span> {{episode.createDate | date:'longDate'}} </li>
            <li><span class="icon_profile"></span> by {{episode.userName}}</li>
            <li><span class="icon_tags_alt"></span> Classic, House, Music</li>
        </ul>
        <a>
            <a [routerLink]="[episodeUrl]">
                <h4>{{episode.title}}</h4>
            </a>
        </a>
        <p class="expando">{{strippedDescription}}</p>
        <ngx-audioplayer-mini [audioUrl]="episode.audioUrl"
                              [audioLength]="episode.audioLength">
        </ngx-audioplayer-mini>

    </div>
</div>
