.subscribe-listing-item {
    margin-bottom: 50px;
}
.subscribe-listing img {
    height: 76px;
}
.entry-post {
    margin-bottom: 3.25rem;
}

.featured-content {
    position: relative;
    overflow: hidden;
}

.featured-content img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.3;
}
