<div *ngIf="episode$ | async as entry">
    <header id="featured" class="featured-content fade-background-0 padding-top-bottom"
            [style.background-image]="'url(' + entry.imageUrl + ')'">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="latest-episode">
                        <div class="podcast-episode">
                            <p class="big text-uppercase opacity-50">
                                Latest Episode
                            </p>
                            <h1 class="entry-title"><a [href]="entry.slug">{{entry.title}}</a>
                            </h1>
                            <div class="podcast-episode">
                                <div class="podcast-episode-player">
                                    <ngx-audioplayer #player [audioUrl]="entry.audioUrl" [pcmUrl]="entry.pcmUrl"
                                                     [imageUrl]="entry.imageUrl" [title]="entry.author"
                                                     [subTitle]="entry.title" [autoPlay]="false"
                                                     [backgroundColour]="'rgba(242,245,245,0.1)'"
                                                     [titleColour]="'#8fac69'" [padding]="'3px'"
                                                     [subTitleColour]="'#828699'" [waveColour]="'#828699'"
                                                     [waveColourProgress]="'#8fac69'" [showImage]="false"
                                                     [showDetails]="false" [showVolume]="false">
                                    </ngx-audioplayer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
