 <div *ngIf="podcast$ | async as podcast">
     <div *ngIf="featuredEpisodeService.episode$ | async as featured">
         <section class="hero spad set-bg"
                  [style.background-image]="'url(' + podcast.coverImageUrl + ')'">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-6">
                         <div class="hero__text">
                             <h5><span class="icon_calendar"></span> Latest Episode -
                                 <i class="fa fas far fa-clock"></i>{{featured.createDate | amTimeAgo}}</h5>
                             <h2>{{featured.title}}</h2>
                             <a *ngIf="itunesAggregator"
                                [href]="itunesAggregator.url"
                                target="_blank"
                                class="primary-btn">
                                 <i class="fab fa-itunes"></i>
                                 Subscribe with {{itunesAggregator.name}}</a>
                             <a [href]="podcast.rssUrl"
                                target="_blank"
                                class="primary-btn white-btn">
                                 <i class="fas fa-rss"></i>
                                 Subscribe with RSS</a>
                         </div>
                     </div>
                     <div class="col-lg-6">

                         <div class="gradient-border">
                             <div class="inner"
                                  [style.background-image]="'url(' + featured.imageUrl + ')'">
                                 <a (click)="playAudio()"
                                    class="play-btn video-popup">
                                     <img [src]="isPlaying ? '/assets/img/pause-btn.png' : '/assets/img/play-btn.png'"
                                          alt="">
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="single__track">
                 <div class="container">
                     <ngx-audioplayer #player
                                      [audioUrl]="featured.audioUrl"
                                      [pcmUrl]="featured.pcmUrl"
                                      [imageUrl]="featured.imageUrl"
                                      [title]="featured.author"
                                      [subTitle]="featured.title"
                                      [autoPlay]="false"
                                      [backgroundColour]="''"
                                      [titleColour]="'#8fac69'"
                                      [padding]="'3px'"
                                      [subTitleColour]="'#828699'"
                                      [waveColour]="'#863438'"
                                      [waveColourProgress]="'#BBBF7F'"
                                      [showImage]="false"
                                      [showDetails]="false"
                                      [showVolume]="false">
                     </ngx-audioplayer>
                 </div>
             </div>
         </section>
     </div>
 </div>
 <section class="podcast spad">
     <div class="container">
         <div class="podcast__top">
             <div class="row">
                 <div class="col-lg-5 col-md-5">
                     <h2>Previous Episodes</h2>
                 </div>
             </div>
         </div>
         <div class="row podcast-filter"
              *ngFor="let entry of entries$ | async">
             <div class="col-lg-12 mix entrepreneurship">
                 <app-episode-list-item [user]="user"
                                        [slug]="slug"
                                        [podcast]="podcast"
                                        [episode]="entry">
                 </app-episode-list-item>
             </div>
         </div>
     </div>
 </section>
