<div *ngIf="podcast$ | async as podcast">
    <app-featured-entry [user]="podcast.user" [podcast]="podcast.slug">
    </app-featured-entry>
    <main id="content" class="padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="episodes-listing">
                        <h3 class="add-separator">
                            <span>
                                Previous <em>Episodes</em>
                            </span>
                        </h3>
                        <article class="entry entry-episode" *ngFor="let entry of podcast.podcastEntries">
                            <app-episode-list-item [user]="user" [slug]="slug" [podcast]="podcast" [episode]="entry">
                            </app-episode-list-item>
                        </article>
                        <!-- <div class="pagination pagination-load-more">
                            <a href="#" class="button button-filled">
                                <span class="zmdi zmdi-more"></span>
                                Browse More
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
