 <div *ngIf="episode$ | async as entry">
     <header id="featured"
             class="featured-content fade-background-50 padding-top-bottom"
             [style.background-image]="'url(' + entry.imageUrl + ')'">
         <div class="container">
             <div class="row align-items-center">
                 <div class="col-12">
                     <h1 class="entry-title">
                         {{entry.title}}
                     </h1>
                     <div class="entry-meta">
                         <span class="posted-on">
                             <span class="screen-reader-text">
                                 Posted:
                             </span>
                             <a>
                                 <time class="entry-date published"
                                       datetime="2017-09-13T14:48:37+00:00">
                                     {{entry.createDate | date:'longDate'}}
                                 </time>
                             </a>
                         </span>
                     </div>
                     <div class="podcast-episode">
                         <div class="podcast-episode">
                             <div class="podcast-episode-player">
                                 <ngx-audioplayer #player
                                                  [audioUrl]="entry.audioUrl"
                                                  [pcmUrl]="entry.pcmUrl"
                                                  [imageUrl]="entry.imageUrl"
                                                  [title]="entry.author"
                                                  [subTitle]="entry.title"
                                                  [autoPlay]="false"
                                                  [backgroundColour]="'rgba(51,54,55,0.5)'"
                                                  [titleColour]="'#8fac69'"
                                                  [padding]="'3px'"
                                                  [subTitleColour]="'#828699'"
                                                  [waveColour]="'#863438'"
                                                  [waveColourProgress]="'#BBBF7F'"
                                                  [showImage]="false"
                                                  [showDetails]="false"
                                                  [showVolume]="false">
                                 </ngx-audioplayer>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </header>
     <main id="content"
           class="padding-top-bottom">
         <div class="container">
             <div class="row">
                 <div class="col-12 col-md-12">
                     <article id="{{entry.id}}"
                              class="entry entry-post episode-type-audio post-69 episode type-episode status-publish has-post-thumbnail hentry category-season-1 tag-audio tag-goodbyes tag-life">
                         <div class="entry-content"
                              [innerHtml]="entry.description">
                         </div>
                         <div class="entry-footer">
                             <aside class="share-entry">
                                 <div class="row align-items-lg-center">
                                     <div class="col-12 col-lg-auto">
                                         <h5 class="share-title">Share it:</h5>
                                         <p class="share-links">
                                             <a title="Facebook"
                                                target="_blank"
                                                [href]="facebookRef">
                                                 <span class="zmdi zmdi-facebook"></span>
                                                 <span class="screen-reader-text">Facebook</span>
                                             </a>
                                             <a title="Twitter"
                                                target="_blank"
                                                [href]="twitterRef">
                                                 <span class="zmdi zmdi-twitter"></span>
                                                 <span class="screen-reader-text">Twitter</span>
                                             </a>
                                         </p>
                                     </div>
                                     <div class="col-12 col-lg">
                                         <div class="categories">
                                             <span class="screen-reader-text">Posted in:</span>
                                             <a [href]="siteUrl"
                                                rel="category tag">
                                                 {{entry.podcastTitle}}
                                             </a>
                                         </div>
                                     </div>
                                 </div>
                             </aside>
                         </div>
                     </article>
                     <app-comment-box [episode]="entry"></app-comment-box>
                 </div>
             </div>
         </div>
     </main>
 </div>
