<div *ngIf="episode$ | async as episode">
    <section class="blog-details-hero spad set-bg"
             [style.background-image]="'url(' + episode.imageUrl + ')'">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="blog__hero__text">
                        <ul>
                            <li><span class="icon_calendar"></span> {{episode.createDate | date:'longDate'}} </li>
                            <li><span class="icon_profile"></span> by {{episode.userName}}</li>
                            <li><span class="icon_tags_alt"></span> Deep, House, Music</li>
                        </ul>
                        <h2>{{episode.title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <ngx-audioplayer #player
                                     [audioUrl]="episode.audioUrl"
                                     [pcmUrl]="episode.pcmUrl"
                                     [imageUrl]="episode.imageUrl"
                                     [title]="episode.author"
                                     [subTitle]="episode.title"
                                     [autoPlay]="false"
                                     [backgroundColour]="''"
                                     [titleColour]="'#8fac69'"
                                     [padding]="'3px'"
                                     [subTitleColour]="'#828699'"
                                     [waveColour]="'#863438'"
                                     [waveColourProgress]="'#BBBF7F'"
                                     [showImage]="false"
                                     [showDetails]="false"
                                     [showVolume]="false">
                    </ngx-audioplayer>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p class="top-text"
                               [innerHTML]="episode.description"></p>

                        </div>
                        <div class="blog__details__tags">
                            <span>Share:</span>
                            <a href="#"><i class="social_facebook"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_youtube"></i></a>
                        </div>

                        <div class="blog__details__comment"
                             *ngIf="false">
                            <h4>12 Comment</h4>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/blog/details/comment-1.jpg"
                                         alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <div class="comment__date">May 14, 2018</div>
                                    <h5>Brandon Kelley</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="#">Like</a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <div class="blog__details__comment__item blog__details__comment__item--reply">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/blog/details/comment-2.jpg"
                                         alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <div class="comment__date">May 14, 2018</div>
                                    <h5>Brandon Kelley</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="#">Like</a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__comment__form">
                            <h4>Leave A Reply</h4>
                            <form (submit)="submitComment()">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text"
                                               placeholder="Name">
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <input type="text"
                                               placeholder="Email Address">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="Your Comment"></textarea>
                                        <button type="submit"
                                                class="site-btn">Submit Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <div *ngIf="episode$ | async as episode">
    <app-header-entry [episode]="episode">
    </app-header-entry>
</div>
<section id="blog-single-standard"
         class="blog single-post"
         *ngIf="episode$ | async as episode">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 mb-30-xs mb-30-sm">
                <div class="entry">
                    <div class="entry-post">
                        <div class="entry-date text-center">
                            <a href="#">{{episode.createDate | date:'longDate'}}</a>
                        </div>
                        <div class="entry-title text-center">
                            <h3>
                                <a href="#">{{episode.title}}.</a>
                            </h3>
                        </div>
                        <div class="entry-content"
                             [innerHTML]="episode.description">
                        </div>
                    </div>
                </div>
                <div class="entry-share">
                    <span class="share-title">share this article:</span>
                    <span class="share-links">
                        <a class="share-facebook"
                           target="_blank"
                           [href]="facebookRef"><i class="fa fa-facebook"></i></a>
                        <a class="share-twitter"
                           target="_blank"
                           [href]="twitterRef"><i class="fa fa-twitter"></i></a>
                    </span>
                </div>
                <app-comment-box [episode]="episode"></app-comment-box>
            </div>
        </div>
    </div>
</section> -->
