<section id="page-title"
         class="page-title"
         *ngIf="episode">
    <div class="container-fluid bg-overlay bg-section"
         [style.background-image]="'url(' + episode.imageUrl + ')'">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title title-1">
                    <div class="title-content">
                        <div class="title-heading text-overlay">
                            <h1>{{headerTitle || episode.podcastTitle}}</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li class="text-overlay"><a [routerLink]="[episode.slug]">{{episode.title}}</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ngx-audioplayer #player
                                 [audioUrl]="episode.audioUrl"
                                 [pcmUrl]="episode.pcmUrl"
                                 [imageUrl]="episode.imageUrl"
                                 [title]="episode.author"
                                 [subTitle]="episode.title"
                                 [autoPlay]="false"
                                 [backgroundColour]="'rgba(51,54,55,0.5)'"
                                 [titleColour]="'#8fac69'"
                                 [padding]="'3px'"
                                 [subTitleColour]="'#828699'"
                                 [waveColour]="'#863438'"
                                 [waveColourProgress]="'#BBBF7F'"
                                 [showImage]="false"
                                 [showDetails]="false"
                                 [showVolume]="false">
                </ngx-audioplayer>
            </div>
        </div>
    </div>
</section>
